<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {{>fevicon}}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/myScript.js"></script>
</head>

<body>

    {{>header}}

    <div class="ab-head">
        <img src="img/page-banner.jpg" alt="" srcset="">
        <h1 id="page-head">About</h1>
    </div>
    <div class="img-row">
        <div class="container">
            <div class="img-column1">
                <img src="img/about1.jpg" width="100%" alt="img-1">
            </div>
            <div class="img-column2">
                <img src="img/about2.jpg" width="100%" alt="img-2">
            </div>
        </div>
    </div>
    <div class="w-row">
        <div class="container">
            <div class="who-column">
                <div id="w-head">

                    <h1 style="text-align: center;">Who We Are ?</h1>
                </div>
                <p>We are the pioneers of security concept in India and have created a niche in the market by offering a
                    comprehensive range of Security and Detective services.</p>
                <p>We specialize in Security and Personnel services, bringing together the expertise and capabilities to
                    help our clients achieve their organisational / individual security goals.</p>
                <p>We have industry experience of more than 2 decades and we will always strive hard to deliver to the
                    expectation of the customer.</p>
            </div>
            <div class="why-column">
                <div id="w-head">
                    <h1 style="text-align: center;">Why Choose Us ?</h1>
                </div>
                <p>Our "Security and Personnel Services" was formed in 1980 in response to an escalation of public order
                    and
                    safety related issues of the construction, commercial, retail, industrial, and sports & leisure
                    industries. “Security You Can Trust” Our ambitious company has grown considerably due to our high
                    standards of professionalism and expertise, and is now recognized nationally for 38 years.</p>
                <p>We operate with flexibility, confidence and continuously endeavor to meet the ever-changing
                    requirements
                    of our clients. “Security Is Our Business” Our Numero Uno position in the market shows our attitude
                    and
                    standard of services that are mainly based on our strong and fundamental pillars of extremely
                    stringent
                    process of selection in accordance to our policy.</p>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>