<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    {{>fevicon}}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/myScript.js"></script>
</head>

<body>

    {{>header}}

    <div class="container">
        <h1 id="page-head">Services</h1>
        <p class="service-desc">You deserve the
            best in the business. We believe our expertise and diversity provides our
            clients with confidence and experience during planning stages and the
            delivery of the security operation itself. Eagle SPS provides unparalleled
            service, systems, and solutions to serve, secure, and care for the people
            and businesses across India.</p>
    </div>
    <div class="serv-row">
        <div class="container">
            <div class="uaimg-column1">
                <img src="img/Unarmed-Guards.jpeg" width="100%" alt="img-1">
            </div>
            <div class="uguard-column2">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Security Guards
                    – Unarmed</h2>
                <p style="text-align: justify;">
                    Our unarmed uniformed guards
                    are highly skilled and trained and are intensely briefed to
                    meet the special needs of the site before being deployed at
                    the client’s premises. These physically present security
                    personnel can carry out any of patrol or surveillance to
                    restrict unauthorized access of unsuitable individual and
                    protect the premises from any unforeseen damages and losses.
                </p>
            </div>
        </div>
    </div>

    <!-- row2 -->
    <div class="serv-row">
        <div class="container">
            <div class="aguard-column1">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Security Guards
                    - Armed</h2>
                <p style="text-align: justify;">
                    Our armed security guards are highly trained and authorized to carry arms with valid
                    licenses.
                    These
                    guards are fully equipped to secure the high value and high risk business such as Banks, ATMs, Shops
                    and
                    other commercial units which are more vulnerable to armed attacks and cannot be covered by police
                    effectively. Armed security guards work under the strict supervision of ex-army / ex-policeman for
                    total
                    control.
                </p>
            </div>
            <div class="aimg-column2">
                <img src="img/armed-guard.jpg" width="100%" alt="img-1">
            </div>
        </div>
    </div>

    <!-- row 3 -->
    <div class="serv-row">
        <div class="container">
            <div class="uaimg-column1">
                <img src="img/bank-secure.jpg" width="100%" alt="img-1">
            </div>
            <div class="uguard-column2">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Cash & Currency Chest Management Services</h2>
                <p style="text-align: justify;">
                    We provide customized cash vans with a trained and committed crew which oversees the entire
                    operations, supervised by an experienced and reliable team. Banks, ATMs, Restaurants, Diamond
                    Merchants, Jewellers, Petrol Pumps, Government / Semi – Government organizations, retail outlets,
                    supermarkets, corporate houses, shopping malls, etc. can transfer their cash from one point to
                    another, without apprehensions. Our specialized and round the clock control room ensures immediate
                    response and intimate monitoring of operations 24×7.
                </p>
            </div>
        </div>
    </div>

    <!-- row 4 -->
    <div class="serv-row">
        <div class="container">
            <div class="aguard-column1">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Electronic Security Solution</h2>
                <p style="text-align: justify;">
                    We works in close association with a set of strategic partners, including reputed system
                    integrators and installers, to provide integrated and turnkey electronic security and surveillance
                    solutions to a range of customers. It undertakes end-to-end security
                    system management covering design, installation and maintenance of access control systems, CCTVs,
                    fire alarm systems, fire suppression systems, intruder/ burglar alarms and perimeter protection
                    systems, to a variety of customers including hotels, banks, retail chains, residences, plants and
                    factories, large commercial and infrastructure establishments & also special event venues.
                </p>
            </div>
            <div class="aimg-column2">
                <img src="img/cctv.jpg" width="100%" alt="img-1">
            </div>
        </div>
    </div>

    <!-- row 5 -->
    <div class="serv-row">
        <div class="container">
            <div class="uaimg-column1">
                <img src="img/Bullion.jpg" width="100%" alt="img-1">
            </div>
            <div class="uguard-column2">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Bullion Management Services</h2>
                <p style="text-align: justify;">
                    It is our endeavour to provide carefree services when it comes to the movement of the Bullion. Our
                    unmatched and experienced Bullion Management Solutions not just takes care of the custom clearance
                    and documentation but also assist in the deliveries, stock reporting, vaulting of the precious metal
                    and its movement Inter / Intra city..
                </p>
            </div>
        </div>
    </div>

    <!-- row 6 -->

    <div class="serv-row">
        <div class="container">
            <div class="aguard-column1">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Exhibition And Event Security</h2>
                <p style="text-align: justify;">
                    We understand that a major factor in success of any event is its management and security. Our highly
                    trained and experienced staff will be committed to ensure everything runs as planned to make any
                    even safe and successful supervision.
                </p>
            </div>
            <div class="aimg-column2">
                <img src="img/event.jpeg" width="100%" alt="img-1">
            </div>
        </div>
    </div>

    <!-- row 7 -->
    <div class="serv-row">
        <div class="container">
            <div class="uaimg-column1">
                <img src="img/training.jpg" width="100%" alt="img-1">
            </div>
            <div class="uguard-column2">
                <h2 style="color: rgb(2, 26, 157); text-align: center;">Training</h2>
                <p style="text-align: justify;">
                    we constantly strive for uplifting the standards of service in the security industry
                    through comprehensive and innovative training of security personnel by providing the individuals
                    with world-class skills in threat detection, protection, combat, fire-fighting, materials control &
                    accounting, as well as soft-skills such as courtesy, positive attitude and loyalty towards client.
                    Our pathbreaking training modules enable security guards not only to handle physical security
                    requirements, but also situations that call for intelligence and judgement. Our trainers are not
                    tied down to just one training methodology, they use a whole range of training techniques,
                    including, Classroom Sessions, on-the-job and site specific sessions and further enhancement with
                    promotional & specialised trainings.
                </p>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>