<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Services</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/myScript.js"></script>
</head>

<body>

    {{>header}}

    <section id="showcase">
    </section>

    <div class="container">
        <section id="main">
            <h1 style="color:  rgb(1, 12, 76);">Welcome</h1>
            <p style="text-align: justify;">We are committed to providing highest quality of security and protection
                services to individuals and
                businesses in the Greater Toronto Area and surroundings. We set ourselves apart from the competition by
                custom designing our services to meet and exceed the specific demands and expectations of our clients.
                In doing so, we hand-pick highly experienced security professionals, provide meticulous training and
                ensure that our security personnel are fully bonded, insured and licensed.</p>
        </section>

        <aside id="sidebar">
            <p>
            <ul>Our strategic goals are to:
                <li>Establish our firm as the premier provider of security and protection services to our target market
                </li>
                <li>Develop a service standard through which all industry firms will be measured</li>
                <li>Expand the target market to include training of new license applicants and security officers to meet
                    or exceed Ministry’s standards</li>
                <li>Recruit and retain the most qualified security personnel in the industry</li>
            </ul>
            </p>
        </aside>
    </div>

    {{>footer}}

</body>

</html>