<footer id="main-footer">
    <div class="container">
        <p class="footleft">
            Website developed by <br>
            Chetan koli<br>
            <i class="fa fa-phone"></i>&nbsp;&nbsp;9960540917
        </p>
        <p class="footcent">
            About me<br>
            Student @ KBCNMU Jalgaon<br>
            MCA 2nd Year
        </p>
        <p class="footright">
            Copyright &copy; 2021 <br>
            Security and Personal Services<br>
            Click to &nbsp; &#10153; &nbsp;<a id="footlink" href="about">Know More</a>
        </p>
    </div>
</footer>