<div class="navigation">
    <header class="main-header">
        {{!-- <img src="img/Rlogo.jpg" alt="logo" style="width:100px;height:100px;margin-left:15px;"> --}}
        <div class="site-logo">
            <img src="img/Security and Personal Services-logos_transparent.png" alt="logo"
                style="width:100px;height:100px;margin-left:15px;">
            <span>Security and Personal Services</span>
            {{!-- <span> --}}
                {{!-- <div class="marq-container">
                    <p id="mark">MAKE YOUR</p>
                    <p id="mark">SECURITY SYSTEMS</p>
                    <marquee></marquee>
                </div> --}}
                {{!--
            </span> --}}
        </div>
    </header>
    <ul class="head-ul">
        <div class="container">
            <li><a id="navlink" href="/">Home</a></li>
            <li><a id="navlink" href="about">About</a></li>
            <li><a id="navlink" href="services">Services</a></li>
            <li><a id="navlink" href="careers">Careers</a></li>
            <li><a id="navlink" href="contact">Contact</a></li>
            {{!-- <li class="dropdown">
                <a id="navlink" href="javascript:void(0)" class="dropbtn">Login</a>
                <div class="dropdown-content">
                    <a id="navlink" href="admin">Admin</a>
                    <a id="navlink" href="user">User</a>
                </div>
            </li> --}}
        </div>
    </ul>
</div>